안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [2]:
def greet_user():
  name = input("이름을 입력하세요: ")
  age = input("나이를 입력하세요: ")
  print(f"안녕하세요, {name}님! 당신은 {age}살입니다.")

greet_user()

이름을 입력하세요: ajin
나이를 입력하세요: 25
안녕하세요, ajin님! 당신은 25살입니다.

In [61]:
def geet_me():
  개념적기능범위 = input("인풋은 입력값을 받아주는 함수이다")
  이해정도= input("이해한정도:")
  print(f"안녕하세요, {개념적기능범위}와 당신은 이해한것은 {이해정도}입니다")

geet_me()

인풋은 입력값을 받아주는 함수이다그렇다고한다
이해한정도:6
안녕하세요, 그렇다고한다와 당신은 이해한것은 6입니다

In [27]:
def me():
  inputsido =input("뭘입력하고 싶어? ")
  print(inputsido)

me()

뭘입력하고 싶어? ㅣㅣㅣㅣ
ㅣㅣㅣㅣ

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [35]:
def sum_numbers(*args):
  return sum(args)

result = sum_numbers(1, 2, 3, 4, 5)
print(result)

15

In [34]:
def sum_numbers(*args):
  return sum(args)

result = sum_numbers(input())
print(result)

1, 2, 100

TypeError: unsupported operand type(s) for +: 'int' and 'str'

왜 안돼?
- 인풋은 문자열(str)반환

- 썸()은 문자열을 만나면 합계를 못한다. 숫자만 합산가능(정수,실수?)

- *알규는 전달된 인자들을 튜플로 묶어서 받는다.

- 썸()+인풋() 되게 하는법
-문자열을 숫자변환
--input().  int(), float()

-씨피유가 문자열을 못다뤄서가 아닌 파이썬 썸()이 문자열 덧셈을 지원하지 않아서 오류난다고 한다.

In [36]:
def sum_numbers(*args):
  return sum(args)

result = sum_numbers(int(input()))
print(result)

0.3, 1.3

ValueError: invalid literal for int() with base 10: '0.3, 1.3'

int()는 "한 개의 정수 하나"만 처리할 수 있다

In [50]:
def sum_numbers(*args):
  return sum(args)

result = sum_numbers(int(input()))
print(result)

KeyboardInterrupt: Interrupted by user

왜 안되?

In [ ]:
return 값

함수바깥으로 결과를 돌려주는 문 return, 프린트는 화면만 보여주기, 리턴은 실제값넘기기

In [58]:
def sum_numbers(*args):
  return sum(args)

numbers =map(float, input("숫자 입력: ").split())
result = sum_numbers(*numbers)
print(result)

숫자 입력: 1,2,3,

ValueError: could not convert string to float: '1,2,3,'

왜 안돼?

In [59]:
def sum_numbers(*args):
  return sum(args)

numbers =map(float, input("숫자 입력: ").split())
result = sum_numbers(*numbers)
print(result)

숫자 입력: 1 2 3
6.0

split() 은 공백 기준으로 자른다

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [37]:
def print_name(name="익명"):
  print(name)

print_name()
print_name("홍길동")

익명
홍길동

In [44]:
def print_name(name="익명"):
    print(name)

# 사용예시
print_name("아진")
print_name()

아진
익명

함수를 부를때 값을 안주면 자동으로 대신 쓰는 값을 기본값이라고 한다.

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [53]:
def print_info(*, name, age, gender):
  print(f"이름: {name}, 나이: {age}, 성별: {gender}")

print_info(name="홍길동", age=25, gender="남자")

이름: 홍길동, 나이: 25, 성별: 남자

def test(*, a, b)
*이후의 매개변수는 키를 붙이지 않으면 절대 받지마, 무조건 a=__, b=__형태로 받아.
test(a,b)  키없네? 들어오지마
test(a=10, b=20) 키있네? 들어와.


성별 /나이/ 순서 바꾸면 난리난다고 한다.키워드를 사용해서 실수 최소화

 부호에도 하드웨어 동작이 숨어있는것같아서 부호별 하드웨어동작을 얼추 알고 넘어가야겠다. 어디에도 갖다 쓸수 있는 기초만들기 시작.

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [45]:
def add(a: int, b: int) -> int:
    return a + b

# 예시
print(add(3, 5))

8

왜 돼
def 함수테이블에 새로운 기능 등록해줄래
: 블록시작
() 매개변수 구조
:   타입힌트
리턴 값 반환
+ 덧셈연산 호출

부호들은 대부분 인터프리터 언어의 규칙+구조신호이다. 씨피유까지 신호가 가는 부분은 연산자(+)처럼 실제 계산을 요구할때뿐이다.

① def

인터프리터에게 “함수 테이블에 새로운 기능을 등록하라” 는 명령.

② 이름()

→ 이름(add)은 단순한 라벨
→ 소괄호()는 입력이 들어가는 영역(파라미터 영역)

③ a: int, b: int

타입 힌트

④ -> int

반환 타입 힌트

⑤ return

“계산 결과를 함수 밖으로 내보내라”
리턴 실행시 함수 실행이 끝나고 호출한 ㄱ쪽으로 값이 전달된다고 한다. 코드흐름 종료

In [62]:
def add(a: int, b:int) -> int:
  print(f"입력: {a}, {b}")
  result = a + b
  print(f"결과: {result}")
  return result

result = add(3, 5)
print(result)

입력: 3, 5
결과: 8
8

타입 힌드는 사람+두구용 메타데이터, 하드웨어에는 영향없다고 함.

파이썬코드는 인터프리터가 읽고 추상명령으로 처리한다. 타입 어노테이션(인트)은 실행에 관여 안하고 메모같은 정보이다. 실제연산은 씨로 구현된 내부함수가 처리한다. 최종 덧셈은 씨피유의 애드 명령어로 실행된다.

왜 안되

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [68]:
def odd_numbers(n):
    # 0부터 n까지 반복
    for i in range(n + 1):
        # i가 홀수면
        if i % 2 == 1:
            yield i   # i를 하나 내보내기

def
odd_numbersn
()
n
colon
for
i
in
range
()
n+1
콜롬
if
i
%
2
==
1
콜론
일드
아이

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [ ]:
add_lambda = lambda x, y: x + y

print(add_lambda(3, 7))

add_lambda
=
람다
x
,
y
colon
x+y
print
()
add_lambda
()
3
7

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

def min_max():
    a = float(input())
    b = float(input())
    c = float(input())
    numbers = (a, b, c)
    print("최소값:", min(numbers))
    print("최대값:", max(numbers))

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [ ]:
def is_even(n):
    if n % 2 == 0:
        return True
    return False

# 사용예시
print(is_even(4))
print(is_even(5))

In [ ]:
from os.path import isjunction
def
이즈_이븐
()
콜론 아래에 블록 시작된다. 이제 안쪽 코드로 들어가세요.
if   씨피유 비교연산 사용해서 조건 돌려줄께. 조건문 뒤에 주면 해줄께.
n   네가 원하는 값이 들어갈 곳의 이름이 n이니?
%      나누기 대신해줄께
2    네가 원하는 값이 상수 2구나?
==     같은지 씨피유에서 대신 비교돌려줄께
0
콜론
리턴    기계안에 값넣어서 계산돌린거 너한테 다시 반환해줄께.
트루    아 너가 원하는게 트루구나
리턴    기계에 들어있는 값너한테 반환시켜줄께
팔스    아 너가 원하는게 팔스구나
프린트
()
이즈_이븐
()
4
이즈_이븐
() 값입력
5

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

def print_lengths(strings):
    for s in strings:
        print(len(s))

# 예시
print_lengths(["apple", "hi", "아진"])

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [ ]:
def longer_string(a, b):
    if len(a) >= len(b):
        return a
    return b

print(longer_string("hello", "bye"))